<h1>
    Headmasters
</h1>
<div class="word-grid">
    <button class="word-button">Palabra 1</button>
    <button class="word-button">Palabra 2</button>
    <button class="word-button">Palabra 3</button>
    <button class="word-button">Palabra 4</button>
    <button class="word-button">Palabra 5</button>
    <button class="word-button">Palabra 6</button>
    <button class="word-button">Palabra 7</button>
    <button class="word-button">Palabra 8</button>
    <button class="word-button">Palabra 9</button>
</div>