// Place all the styles related to the table controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.word-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.word-button {
    height: 100%;
    width: 200px;
}

h1 {
    text-align: center;
}